body {
    font-family: Ubuntu, "MesloLGS NF", Arial, Roboto, Oxygen, -apple-system, BlinkMacSystemFont, "Segoe UI", Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif, Helvetica;
    background-color: #262c31;
    color: lightblue;
    height: 100%;
    margin: 0px;
}

body div.xenon {
    font-size: 1.3em;
}

div.xenon a {
    color: lightgreen;
}
div.xenon a:hover {
    color: lime;
    transition-duration: 500ms;
}

div.xenon input.url {
    position: absolute;
    top: 2em;
    width: 95%;
    height: 1.5em;
    font-size: 1em;
    color: #333;
}

html body iframe.xenon-ctx {
    position: absolute;
    min-height: 90%;
    min-width: 100%;
    left: 0px;
    border: none;
}

div.xenon div.tabctl {
    position: absolute;
    top: 0%;
    color: gray;
}
div.xenon div.tabctl button {
    size: 250, 25;
}
