body {
    font-family: Ubuntu, "MesloLGS NF", Arial, Roboto, Oxygen, -apple-system, BlinkMacSystemFont, "Segoe UI", Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif, Helvetica;
    background-color: #262c31;
    color: lightblue;
    height: 100%;
    margin: 0px;
}

body div.xenon {
    font-size: 1.3em;
}

div.xenon a {
    color: lightgreen;
}
div.xenon a:hover {
    color: lime;
    transition-duration: 500ms;
}

div.xenon input.url {
    position: absolute;
    top: 2em;
    width: 95%;
    height: 1.5em;
    font-size: 1em;
    color: #333;
}

html body iframe.xenon-ctx {
    position: absolute;
    bottom: 0px;
    min-height: 85%;
    min-width: 100%;
    left: 0px;
    border: none;
}

div.xenon div.tabctl {
    position: fixed;
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    top: 0%;
    color: gray;
    /* width: 100%; */
}
div.tabctl button.but-activated {
    background-color: coral;
}
div.xenon div.tabctl button {
    position: relative;
    border: 1 aqua;
    height: 3em;
    /* width: auto; */
    background-color: cadetblue;
}
div.navctl button.newTab {
    position: absolute;
    right: 1px;
    border: 1 white;
    height: 3em;
    width: 3em;
    background-color: orangered;
}
div.navctl button.rmTab {
    position: absolute;
    right: 1px;
    top: 3em;
    border: 1 white;
    height: 3em;
    width: 3em;
    background-color: orangered;
}
